  .emoji-item-common {
    background: url("http://nacospicture.moguit.cn//blog/admin/png/2020/8/7/1596788970449.png");
    display: inline-block;
  }
  .emoji-item-common:hover {
     cursor: pointer;
   }
  .emoji-size-small {
    zoom: 0.3;
  }
  .emoji-size-large {
    zoom: 0.5;
    margin: 4px;
  }